#cenarios-select{
  font-weight: bold;
  border: 3px solid #000;
  background-color: rgb(240, 240, 255);
  height: 25px;
}

@media (max-width:800px) {
  #cenarios-select{
    font-weight: bold;
    border: 3px solid #000;
    background-color: rgb(240, 240, 255);
    height: 30px;
    font-size: 10px;
  }
}
